.venv/
.terraform/
.vscode/launch.json
.vscode/tasks.json
.gitignore
dev/cpp/almalinux-gdb/sample_code/func_server
dev/cpp/almalinux-gdb/sample_code/func_server_c
dev/cpp/almalinux-gdb/sample_code/func_server_cpp
dev/cpp/create_class_template/__pycache__/render_template.cpython-312.pyc
dev/ide/vscode_plugin/__pycache__/core.cpython-312.pyc
dev/ide/vscode_plugin/__pycache__/main.cpython-312.pyc
infra/terraform/nested-vm/terraform.tfstate
infra/terraform/nested-vm/terraform.tfstate.backup
vscode_packages/ms-vscode.cpptools-1.33.1.vsix
infra/terraform/nested-vm/.terraform.lock.hcl
infra/terraform/.DS_Store
dev/cpp/create_methods_template/tmp
dev/cpp/create_class_template/old/templates/class.hpp
dev/cpp/create_methods_template/cpp_sample.cpp
dev/cpp/create_methods_template/cpp_sample.hpp
dev/cpp/create_class_template/old/templates/all.txt
dev/cpp/create_class_template/old/templates/class.cpp
dev/cpp/create_class_template/class.cpp
dev/cpp/create_class_template/class.hpp
