{%- for f in functions %}
static {{ f.type }} {{ f.name }}({{ f.args }});
{%- endfor %}
---
{%- for f in functions %}

{{ f.type }} {{class}}::{{ f.name }}({{ f.args }});
{
	int err = 0;
	return err;
}
{%- endfor %}
