class {{ class }} {
public:
    // コンストラクタ
    {{ class }}({% for m in members %}{{ m.type }} {{ m.name }}{{ ", " if not loop.last }}{% endfor %}) : {% for m in members %}{{ m.name }}_({{ m.name }}){{ ", " if not loop.last }}{% endfor %}
    {
    }

    // デストラクタ
    ~{{ class }}()
    {
    }

private:
    {%- for m in members %}
    {{ m.type }} {{ m.name }}_;
    {%- endfor %}
};

